@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<MudThemeProvider Theme="currentTheme" IsDarkMode="false" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">Schneeanlage</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body 
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = true;

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        

    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
        
    }

    protected override void OnInitialized()
    {

        currentTheme = darkTheme;
        
        
    }

    MudTheme currentTheme = new MudTheme();
    MudTheme defaultTheme = new MudTheme()
    {
            PaletteLight = new PaletteLight()
            {
                Black = "#272c34",
                Primary = "#1976D2",
                AppbarBackground = "#2ba069",
            }
    };

    MudTheme darkTheme = new MudTheme()
        {
            PaletteDark = new PaletteDark()
            {
                Black = "#27272f",
                Background = "#32333d",
                // BackgroundGrey = "#27272f",
                Surface = "#373740",
                DrawerBackground = "#32333d",
                DrawerText = "rgba(255,255,255, 0.50)",
                //DrawerIcon = "#2ba069",
                DrawerIcon = "#22a5fd",
                //AppbarBackground = "#2ba069",
                AppbarBackground = "#32333d",
                AppbarText = "rgba(255,255,255, 0.70)",
                TextPrimary = "rgba(255,255,255, 0.70)",

                TextSecondary = "rgba(255,255,255, 0.50)",
                ActionDefault = "#adadb1",
                ActionDisabled = "rgba(255,255,255, 0.26)",
                ActionDisabledBackground = "rgba(255,255,255, 0.12)",
                Primary = "#006600", //22a5fd
                Success = "#2ba069",
                TextDisabled = "#ffffff42",
                TableHover = "rgba(217, 217, 217, 0.17)"
            },
            PaletteLight = new PaletteLight()
            {
                Black = "#27272f",
                Background = "#32333d",
                BackgroundGray = "#27272f",
                Surface = "#373740",
                DrawerBackground = "#32333d",
                DrawerText = "rgba(255,255,255, 0.50)",
                //DrawerIcon = "#2ba069",
                DrawerIcon = "#22a5fd",
                //AppbarBackground = "#2ba069",
                AppbarBackground = "#32333d",
                AppbarText = "rgba(255,255,255, 0.70)",
                TextPrimary = "rgba(255,255,255, 0.70)",

                TextSecondary = "rgba(255,255,255, 0.50)",
                ActionDefault = "#adadb1",
                ActionDisabled = "rgba(255,255,255, 0.26)",
                ActionDisabledBackground = "rgba(255,255,255, 0.12)",
                Primary = "#006600", //22a5fd
                Success = "#2ba069",
                TextDisabled = "#ffffff42",
                TableHover = "rgba(217, 217, 217, 0.17)"
            }
        };

}

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@
